.page-index{
	color:$black;
}
.main-logo{
	width:45px;
}
.nav-md{
	overflow:hidden;
}
.right_col{
	overflow-y:auto;
	height:20px;
}
.side-menu{
	position: absolute;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding: 0px 0px 25px 0px;
}